<template>
  <div class="page">
    <HeaderItems/>
    <ContestsMain></ContestsMain>
    <FooterItems></FooterItems>
  </div>
</template>

<script>
import HeaderItems from '../components/HeaderItems.vue'
import FooterItems from "../components/FooterItems";

import ContestsMain from "@/components/ContestsMain";


export default {
  name: "ContestsPage",
  components: {
    ContestsMain,
    // ContestsMain,
    HeaderItems,
    // MainItems,
    FooterItems,
  }
}
</script>

<style scoped>
div{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
</style>