<template>
  <div class="page">
    <HeaderItems/>
    <DocumentsMain></DocumentsMain>
    <FooterItems></FooterItems>
  </div>
</template>

<script>
import HeaderItems from '../components/HeaderItems.vue'
import FooterItems from "../components/FooterItems";
import DocumentsMain from "@/components/DocumentsMain";



export default {
  name: "DocumentsPage",
  components: {
    DocumentsMain,
    HeaderItems,
    FooterItems,
  }
}
</script>

<style scoped>

</style>