<template>
  <div class="page">
    <HeaderItems/>
    <EmployeesMain/>
    <FooterItems></FooterItems>
  </div>
</template>

<script>
import HeaderItems from '../components/HeaderItems.vue'
import FooterItems from "../components/FooterItems";
import EmployeesMain from "@/components/EmployeesMain";


export default {
  name: "EmployeesPage",
  components: {
    HeaderItems,
    EmployeesMain,
    FooterItems,
  }
}
</script>

<style scoped>

</style>