<template>
  <div class="page">
    <HeaderItems/>


    <MainItems/>

    <FooterItems/>
  </div>
</template>

<script>


import HeaderItems from '../components/HeaderItems.vue'
import FooterItems from "../components/FooterItems";

import MainItems from "@/components/MainItems";


export default {
  name: 'ContestsPage',
  components:{
    MainItems,


    HeaderItems,

    FooterItems,
  }

}
</script>

<style scoped>

div{
min-height: 100%;
display: flex;
flex-direction: column;
}

</style>
