<template>
  <div class="page">
    <HeaderItems/>
    <MipsMain ></MipsMain>
    <FooterItems ></FooterItems>
  </div>
</template>

<script>
import HeaderItems from '../components/HeaderItems.vue'
import FooterItems from "../components/FooterItems";
import MipsMain from "@/components/MipsMain";


export default {
  name: "MipsPage",
  components: {
    HeaderItems,
    MipsMain,
    FooterItems,
  }
}
</script>

<style scoped>

</style>