<template>
  <div class="page">
    <HeaderItems/>
    <ProjectsMain/>
    <FooterItems></FooterItems>
  </div>
</template>

<script>
import HeaderItems from '../components/HeaderItems.vue'
import FooterItems from "../components/FooterItems";
import ProjectsMain from "@/components/ProjectsMain";


export default {
  name: "ProjectsPage",
  components: {
    ProjectsMain,
    HeaderItems,
    FooterItems,
  }
}
</script>

<style scoped>

</style>