<template>
  <div class="page">
    <HeaderItems/>
    <ProjectMain/>
    <FooterItems></FooterItems>
  </div>
</template>

<script>
import HeaderItems from '../components/HeaderItems.vue'
import FooterItems from "../components/FooterItems";
import ProjectMain from "@/components/ProjectMain";



export default {
  name: "ProjectPage",
  components: {

    ProjectMain,
    HeaderItems,
    FooterItems,
  }
}
</script>

<style scoped>

</style>