<template>
  <div class="page">
    <HeaderItems/>
    <RegistryMain/>
    <FooterItems></FooterItems>
  </div>
</template>

<script>
import HeaderItems from '../components/HeaderItems.vue'
import FooterItems from "../components/FooterItems";
import RegistryMain from "../components/RegistryMain";


export default {
  name: "RegistryPage",
  components: {
    HeaderItems,
    RegistryMain,
    FooterItems,
  }
}
</script>

<style scoped>

</style>