@font-face{
    font-family: 'Golos';
    src : url("../fonts/GolosText-Bold.woff2"),
    url("../fonts/GolosText-Bold.woff"),
    url("../fonts/GolosText-Bold.ttf"),
    url("../fonts/GolosText-Bold.eot");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Golos';
    src : url("../fonts/GolosText-Medium.woff2"),
    url("../fonts/GolosText-Medium.woff"),
    url("../fonts/GolosText-Medium.ttf"),
    url("../fonts/GolosText-Medium.eot");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Golos';
    src : url("../fonts/GolosText-Regular.woff2"),
    url("../fonts/GolosText-Regular.woff"),
    url("../fonts/GolosText-Regular.ttf"),
    url("../fonts/GolosText-Regular.eot");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

