.Footer__items{
    padding: 20px 0 32px 0;
    display: flex;
    gap:163px;
    margin-top: 48px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo__item{
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 4px 12px 6px;
}
.logo__title{
    text-align: initial;
    color: #0061D9;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.Footer__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Footer__lists{
    display: flex;
    gap:72px;
}
.footer__item{
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
}