.header__items{
    padding: 26px 0 25px 0;
}
.logo{

    display: flex;
    align-items: center;
    gap: 8px;
}
.logo__item{
    font-weight:500 ;
    font-size: 16px;
    line-height: 19.2px;
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 4px 12px 6px;
}
.logo__title{
    font-weight:500 ;
    font-size: 16px;
    line-height: 19.2px;
    text-align: initial;
    color: #0061D9;

}
.header__items{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.header__lists{
    display:flex;
    gap:48px;
}
.header__item{
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
}
.header__item-link{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
}
