@import './header.css';
@import './main.css';
@import './footer.css';
@import './font.css';
/*@font-face {*/
/*    font-family: "Golos";*/
/*    src:url("../fonts/");*/
/*}*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Golos',sans-serif;
    font-weight: 700;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}
footer{
    margin-top: auto
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}


input, button, textarea {
    font-family: inherit;
}


input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}


h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    padding: 0 20px ;
    height: 100%;
}
.showAll{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0061D9;
}
.showAll-btn{
    display: flex;
    justify-content: right;
}

