.courses{
    margin-bottom: 56px;
}
.department{
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    margin-top: 24px;
}
.department__info{
}
.department__title-main{
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 32px;
    color: #222222;
}
.department__item{
    font-weight: 500;
    font-size: 16px;
    line-height: 24.96px;

    margin-bottom: 48px;
}
.department__item-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color:#444444;
    padding: 16px;
}


.news{
width: 1178px;
    margin-bottom: 48px;
}

.project__items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:16px;
font-weight: 500;
    margin-bottom: 20px;
}
.project__item{
    width: 285.5px;
    padding: 16px 16px 24px;
}
.title{
font-weight: 500;
    font-size: 28px;
    line-height: 33.6px;
    color: #111111;
    margin-bottom: 48px;
}

.item__photo{
    margin-bottom: 16px;
}
.item__date{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A7A8AB;
    margin-bottom: 8px;
}
.item__info{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    width: 250.5px;
}
.photo {
    width: 250.5px;
    height: 200px;
    margin-bottom: 16px;
}
.contest{
    display: flex;
    gap:24px;
    margin-bottom: 4px;
    padding: 20px 16px;
}
.data__contest{
    white-space: nowrap;
    padding: 8px 12px;
    background-color: #0061D9;
    border-radius: 4px;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    height: 28px;
}
.contest__title{
    color: #555555;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}
.contest__info{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
.contest__info-g{
    font-weight: 400;
    color:#8A8B8D;
    font-size: 14px;
    line-height: 16px;
}
.gray{
    color:#8A8B8D;
    font-size: 14px;
    line-height: 132%;
}
.activity-info{
font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 800px;
    margin-bottom: 32px;
}
.employees{
display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-row-gap: 32px;
    grid-column-gap: 16px;


}

.employee{
    text-align: center;
    width: 282.5px;
    padding: 16px 16px 24px;
    grid-column: span 2
}
.employee:nth-last-child(3) {
    grid-column: 2 / 4;
}

.employee__name{
font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    margin-bottom: 8px;
}
.employee__info{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8A8B8D;
    text-align: center;
}
.way{
    margin-bottom: 20px;
    display: flex;
    gap: 12px;
    color: #A7A8AB;
    font-weight: 400;
    font-size: 14px;
    line-height: 132%;
}
/*.asd::last- {*/
/*    border-bottom: solid 1px black;*/
/*}*/
.name{
    color: #0061D9;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
/*.title__contest-info ::before span{*/
/*margin-left: 5px;*/
/*}*/
.main__info{
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    width: 880px;
    align-self: stretch;
}
.main__info p{
    margin-bottom: 35px ;
}
.main__info p:last-child{
    margin-bottom: 0;
}
.document__title{
    padding: 16px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
}
.document{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 12px;

    align-items: flex-start;
    cursor: pointer;
}

.document:hover .document__title{
    color: #0061D9;
}
.img{
display: none;
}
.document:hover .img{
    display: block;
}

.document :last-child{
    margin-bottom: 0;
}
.document__title :hover{
    color: #0061D9;
}
.photo__result{
    padding: 16px 0;
    margin:16px 0;
   text-align: center;
}
.long-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 38.4px;
    color: #111111;
    margin-bottom: 24px;
}
.title__info{
    width: 600px;
    margin-bottom: 28px;
}
.title-main{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}
.allContests{
    margin-bottom: 20px;
}
.contests{
    margin-bottom: 48px;
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header__item-link.active{
    color: #0061D9;
}
span{font-weight: 400}