<template>
  <div class="container">
    <div class="way">
      Главная <img :src="moreSigne"> Конкурсы и гаранты <img :src="moreSigne"> Конкурс социальных проектов «Инносоциум»
    </div>
    <div class="title__info">
      <div class="long-title">
        Конкурс социальных проектов «Инносоциум»
      </div>
      <div class="info">
        Организатор:<span>Фонд иносоциум</span><br>
        Призовой фонд:<span>100 000 - 500 000 рублей</span><br>
        Срок окончания:<span>1 июня, 2022</span><br>
      </div>
    </div>
    <div class="main__info">
      <p> К участию приглашаются студенты и студенческие коллективы, сформированные из действительных студентов российских ВУЗов.</p>

      <p> Принимаются проекты в направлениях:</p>

      <p> — Женское лидерство (мотивация женщин к карьерному росту, преодоление внутренних барьеров; популяризация философии и успешных историй женского лидерства; развитие женского лидерского потенциала при помощи программ, направленных на профессиональное развитие и рост (менторинг, коучинг, информационный обмен, ролевое моделирование); обмен лучшими практиками, проведение исследований по тематике женского лидерства)</p>

      <p> — Поддержка семьи и семейных ценностей (содействие образованию, в том числе дополнительному образованию, мам и детей из уязвимых групп; «здоровая семья»: проекты, направленные на развитие здорового образа жизни всей семьи, включая здоровое питание, физкультуру и спорт, профилактику заболеваний, медосмотры и т.д. семейный досуг: проекты, направленные на расширение возможностей семейного отдыха, включая развитие внутреннего туризма, кружки и секции для представителей разных поколений семьи)</p>

      <p> — Активное долголетие (повышение качества жизни людей пожилого возраста; содействие дополнительному образованию, социализации и занятости людей пожилого возраста; повышение социальной активности людей пожилого возраста, вовлечение их в полноценную жизнь; расширение возможностей участия граждан старшего поколения в культурных, образовательных, физкультурных, оздоровительных и других мероприятиях).</p>

      <p> Победители награждаются премией в размере 300 000 рублей. Победителю в каждом тематическом направлении присваивается звание Победителя Всероссийского конкурса социальных проектов «Инносоциум» с вручением соответствующего диплома. Участники, чьи заявки стали финалистами, получают Дипломы.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContestMain",
  data(){
    return{
      moreSigne : require('../assets/moreSign.svg')
    }
  },
}
</script>

<style scoped>

}

</style>