<template>
  <div class="container">
    <div class="way">
      Главная <img :src="moreSigne"> <span style="border-bottom: solid 1px #8A8B8D">Конкурсы и гаранты</span>
    </div>
    <div class="contests">
      <div class="courses">
        <div class="title">
          КОНКУРСЫ И ГРАНТЫ
        </div>
        <div class="allContests">
          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Конкурс-фестиваль проектов сообщества PRO Женщин PRO WOMEN AWARD
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Конкурс-фестиваль проектов сообщества PRO Женщин PRO WOMEN AWARD
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Конкурс выпускных работ 2020 года в области лазерной техники и технологий
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Конкурс-фестиваль проектов сообщества PRO Женщин PRO WOMEN AWARD
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
              </div>
            </div>
          </a>

          <a href="#" class="contest">
            <div class="data__contest">
              До 15.1
            </div>
            <div class="contest__title">
              <div class="contest__info-g">
                Социальные проекты
              </div>
              <div class="contest__info">
                Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContestsMain",
  data(){
    return{
      moreSigne : require('../assets/moreSign.svg')
    }
  },
}
</script>

<style scoped>

.allContests{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 16px;
  grid-column-gap: 48px;
}
.contests{
  margin-bottom: 0;
}

</style>