<template>
  <div class="container">
    <div class="way">
      Главная <img :src="moreSigne"><span style="border-bottom: solid 1px #8A8B8D">Сотрудники</span>
    </div>
    <div class="title">
      Сотрудники
    </div>
    <div class="employees">
      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "EmployeesMain",
  data(){
    return{
      moreSigne : require('../assets/moreSign.svg')
    }
  },
}
</script>

<style scoped>

</style>