<template>
<div class="container">
  <div class="Footer__items">
    <div class="logo">
      <div class="logo__item">
        ДГУ
      </div>

      <div class="logo__title">
        Отдел ИДиТТ
      </div>
    </div>
    <div class="Footer__lists">
    <ul class="Footer__list" >

      <li class="footer__item">
        <a href="#">Деятельность</a>
      </li>

      <li class="footer__item">
        <a href="#">Проекты</a>
      </li>

      <li class="footer__item">
        <a href="#">Реестр РИД</a>
      </li>

      <li class="footer__item">
        <a href="#">МИП</a>
      </li>
    </ul>

    <ul class="Footer__list" >

      <li class="footer__item">
        <a href="#">Конкурсы</a>
      </li>

      <li class="footer__item">
        <a href="#">Сотрудники</a>
      </li>

      <li class="footer__item">
        <a href="#">Документы</a>
      </li>

    </ul>

    <ul class="Footer__list" >

      <li class="footer__item">
        <a href="#">Контакты</a>
      </li>

      <li class="footer__item" >
        <a href="#" style="font-weight: 400">67-61-50</a>
      </li>

      <li class="footer__item" >
        <a href="#" style="font-weight: 400">г. Махачкала, ул. М.Гаджиева, 43а (2 этаж)</a>
      </li>
    </ul>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "FooterItems"
}
</script>

<style scoped>

</style>