<template>
  <div class="container">
    <div class="header__items">
      <a href="/" class="logo">
        <div class="logo__item">
          ДГУ
        </div>

        <div class="logo__title">
          Отдел ИДиТТ
        </div>
      </a>
<!--<router-link v-for="(item,i) in links"-->
<!--             :key="i" :to="item.route"-->
<!--             :class="{linkActive: isRouteActive(item.route) }"-->
<!--             class="linkStyle">-->
      <ul class="header__lists" >

        <li class="header__item " v-for="(item,i) in links"
            :key="i" >
          <router-link :to="item.name"
                       :class="{active: isRouteActive(item.name) }"
                       class="header__item-link" >

            {{ item.title }}

            </router-link>
        </li>

<!--        <li class="header__item">-->
<!--          <a href="ContestsPage">Конкурсы и гаранты</a>-->
<!--        </li>-->

<!--        <li class="header__item">-->
<!--          <a href="DocumentsPage">Документы</a>-->
<!--        </li>-->

<!--        <li class="header__item">-->
<!--          <a href="/RegistryPage">Реестр РИД</a>-->
<!--        </li>-->

<!--        <li class="header__item">-->
<!--          <a href="/MipsPage">МИП</a>-->
<!--        </li>-->

<!--        <li class="header__item">-->
<!--          <a href="/EmployeesPage">Сотрудники</a>-->
<!--        </li>-->
      </ul>
<!--</router-link>-->
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderItems",
  data(){
    return{
      links:[
        {
          title:"Проекты",
          name:"ProjectsPage"
        },
        {
          title:"Конкурсы и гаранты",
          name:"ContestsPage"
        },
        {
          title:"Документы",
          name:"DocumentsPage"
        },
        {
          title:"Реестр РИД",
          name:"RegistryPage"
        },
        {
          title:"МИП",
          name:"MipsPage"
        },
        {
          title:"Сотрудники",
          name:"EmployeesPage"
        }
      ]
  }
},
  methods:{
    isRouteActive(name){
      return name === this.$route.name

    },

  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
}
li {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #222222;
}
</style>