<template>
<div class="container">
  <div class="department">
    <div class="department__info">
      <div class="department__title" style="width: 538px">
        <div class="department__title-gray" style="width: 560px; margin-bottom: 20px">
          <div class="dep__fgbou gray" style="margin-bottom: 6px;font-weight: 400">
            Федеральное государственное бюджетное образовательное учреждение высшего образования
          </div>
          <div class="dep__dgu gray" style="font-weight: 500">
            Дагестанский Государственный Университет
          </div>
        </div>
        <h1 class="department__title-main">
          Инновационная деятельность
          и трансфер технологий
        </h1>
      </div>
      <div>
        <div class="department__item" style="width: 675px;">
          Мы помогаем достигать коммерческих результатов интеллектуальной деятельности отдельных научных коллективов, сотрудников, аспирантов и студентов Дагестанского Государственного Университета, содействие интеграции науки и бизнеса, содействие оказание помощи в более эффективном функционировании инновационной инфраструктуры вуза.
        </div>

        <div class="department__item-info">
          Мы обеспечиваем единую патентно-лицензионной политику и правовую охрану результатов интеллектуальной деятельности, защиту имущественных и неимущественных прав в отношении объектов интеллектуальной собственности и способствуем развитию в ДГУ инновационной деятельности в области образования и науки.
        </div>

        <div class="img__Vector">
          <img src="../assets/Frame1079.svg"/>
        </div>
      </div>
    </div>
  </div>

  <div class="news">
    <h2 class="title-main">
      Проекты
    </h2>
    <div class="project__items">
      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка технологии получения тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>
    </div>
    <div class="showAll-btn">
      <a href="#" class="showAll">Показать все</a>
    </div>
  </div>

  <div class="contests">
    <div class="title-main">
      КОНКУРСЫ И ГРАНТЫ
    </div>
    <div class="allContests">
      <a href="#" class="contest">
        <div class="data__contest">
          До 15.1
        </div>
        <div class="contest__body">
          <div class="contest__info-g">
            Социальные проекты
          </div>
          <div class="contest__info">
            Конкурс-фестиваль проектов сообщества PRO Женщин PRO WOMEN AWARD
          </div>
        </div>
      </a>

      <a href="#" class="contest">
        <div class="data__contest">
          До 15.1
        </div>
        <div class="contest__body">
          <div class="contest__info-g">
            Социальные проекты
          </div>
          <div class="contest__info">
            Первый молодежный цифровой хакатон “HackAtom”
          </div>
        </div>
      </a>

      <a href="#" class="contest">
        <div class="data__contest">
          До 15.1
        </div>
        <div class="contest__body">
          <div class="contest__info-g">
            Социальные проекты
          </div>
          <div class="contest__info">
            Конкурс выпускных работ 2020 года в области лазерной техники и технологий
          </div>
        </div>
      </a>

      <a href="#" class="contest">
        <div class="data__contest">
          До 15.1
        </div>
        <div class="contest__body">
          <div class="contest__info-g">
            Социальные проекты
          </div>
          <div class="contest__info">
            Многосторонний конкурс 2021 года в рамках Европейской программы IRA-SME
          </div>
        </div>
      </a>
    </div>
    <div class="showAll-btn" >
      <a href="#" class="showAll" >Показать все</a>
    </div>
  </div>
  <div class="activity">
    <div class="title-main" style="margin-bottom: 16px">
      О ДЕЯТЕЛЬНОСТИ ОТДЕЛА ИДИТТ
    </div>
    <div class="activity-info">
      Деятельность Отдела ИДиТТ охватывает все сферы деятельности, включая учебную, научную, инновационную, производственную и предпринимательскую внутри страны и за рубежом.
    </div>
    <div class="employees">
      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>

      <a href="#" class="employee">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="employee__name">
          Оруджев Фарид Фахреддинович
        </div>
        <div class="employee__info">
          Начальник Отдела инновационной деятельности и трансфера технологий ДГУ, к.х.н., член союза журналистов РФ.
        </div>
      </a>
    </div>
  </div>
</div>

</template>

<script>
export default {
  name: "MainItems",
  data(){
    return{
      moreSigne : require('../assets/moreSign.svg')
    }
  },
}
</script>

<style scoped>

.img__Vector{
  width: 420px;
  height: 258px;
position: absolute;
  right: 3px;
  bottom: 166px;
}


</style>