<template>
  <div class="container">
    <div class="way">
      Главная <img :src="moreSigne"> Конкурсы и гаранты <img :src="moreSigne"> <span style="border-bottom: solid 1px #8A8B8D">Разработка нитрида алюминия для изготовления изделий</span>
    </div>
    <div class="title__info">
      <div class="long-title">
        Разработка нитрида алюминия для изготовления изделий
      </div>
      <ul class="info">
        <li>Организатор:<span>Фонд иносоциум</span></li>
        <li>Призовой фонд:<span>100 000 - 500 000 рублей</span></li>
        <li>Срок окончания:<span>1 июня, 2022</span></li>
      </ul>
    </div>
    <div class="main__info">
      <p> Разработка технологии атомно-слоевого осаждения тонких пленок феррита висмута со свойствами мультиферроика, в которых сосуществуют одновременно два и более типов «ферро» упорядочения: ферромагнитное и сегнетоэластичность.<br>
        Результаты<br>
        Выполнены работы по разработке технологии выращивания методом атомно-слоевого осаждения (АСО или ALD) эпитаксиальных пленок феррита висмута на поверхности подложек сапфира с регулярным микро- и нанорельефом. Поликристаллические пленки феррита висмута имеют высокое качество (шероховатость не превышает 5 Å по всей площади).
      </p>
      <h3>Результаты</h3>
      <div class="photo__result">
        <img src="../assets/image2.svg" style="margin-left: auto;margin-right: auto">
      </div>
      <p>Выполнены работы по разработке технологии выращивания методом атомно-слоевого осаждения (АСО или ALD) эпитаксиальных пленок феррита висмута на поверхности подложек сапфира с регулярным микро- и нанорельефом. Поликристаллические пленки феррита висмута имеют высокое качество (шероховатость не превышает 5 Å по всей площади).
        Для удаления остаточных гидроксильных групп и установления наличия промежуточных фаз проводилась термическая обработка пленок. Отработаны режимы отжига пленок и найдена оптимальная температура отжига, при которой происходит формирование монокристаллической пленочной структуры BiFeO3/Al2O3 на подложках с нанорельефом.</p>

      <p>Проведены исследования комплекса оптических свойств пленок до и после термической обработки (спектры пропускания и поглощения, люминесценция).
        Исследованы температурные зависимости проводимости пленок феррита висмута в отсутствии и при наличии постоянной подсветки, а также при различных значениях приложенного напряжения.
        Проведены исследования магнитоэлектрического и магнитодиэлектрического эффектов.
        Методом атомно-силовой микроскопии поверхности полученных пленок феррита висмута определено наличие доменной структуры.</p>

      <div class="photo__result">
        <img src="../assets/image3.svg" >
      </div>

      <p> Разработанная продукция является одним из важнейших шагов на пути к реализации электронных устройств в области спинторники. Такие устройства позволяют получать энергонезависимый доступ к управлению информацией, хранению данных и т.д. Внешнее электрическое поле позволяет менять вектор поляризации при сохранении той же пространственной оси. </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContestMain",
  data(){
    return{
      moreSigne : require('../assets/moreSign.svg')
    }
  },
}
</script>

<style scoped>{
}
h3{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
li{
  color: #8A8B8D;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
}
li :last-child{
  margin-bottom: 0;
}
li span{
  color: #111111;
  margin-left: 24px;
  margin-bottom: 12px;
}
</style>>