<template>
  <div class="container">
    <div class="way">
      Главная <img :src="moreSigne"> <span style="border-bottom: solid 1px #8A8B8D">Проекты</span>
    </div>
    <div class="title">
      Проекты
    </div>
    <div class="project__items">
      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка технологии получения тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>

      <a href="#" class="project__item">
        <div class="item__photo">
          <img src="../assets/asd.jpg" class="photo"/>
        </div>
        <div class="item__date">
          10.02.2022
        </div>
        <div class="item__info">
          Разработка тонких пленок нитрида алюминия для изготовления изделий
        </div>
        <div class="name">
          Оруджев Ф. Н.
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProjectsMain",
  data(){
    return{
      moreSigne : require('../assets/moreSign.svg')
    }
  },
}
</script>

<style scoped>

</style>