<template>
  <div class="container">
    <div class="way">
      Главная <img :src="moreSigne"> <span style="border-bottom: solid 1px #8A8B8D">Реестр РИД</span>
    </div>
    <div class="title">
      Реестр РИД
    </div>
    <div class="documents">

      <a href="#" class="document" @mouseover="hoverIn()" @mouseleave="hoverLeave()">
        <div class="document__title">
          Приложение 11 к ОПОП. МАТЕРИАЛЬНО-ТЕХНИЧЕСКОЕ ОБЕСПЕЧЕНИЕ
        </div>
        <div class="link__icon" v-bind:style="{display:DisplayB}">
          <img class="img" :src="linkIc">
        </div>
      </a>

      <a href="#" class="document" @mouseover="hoverIn()" @mouseleave="hoverLeave()">
        <div class="document__title">
          Приложение 11 к ОПОП. МАТЕРИАЛЬНО-ТЕХНИЧЕСКОЕ ОБЕСПЕЧЕНИЕ
        </div>
        <div class="link__icon" v-bind:style="{display:DisplayB}">
          <img class="img" :src="linkIc">
        </div>
      </a>

      <a href="#" class="document" @mouseover="hoverIn()" @mouseleave="hoverLeave()">
        <div class="document__title">
          Приложение 11 к ОПОП. МАТЕРИАЛЬНО-ТЕХНИЧЕСКОЕ ОБЕСПЕЧЕНИЕ
        </div>
        <div class="link__icon" v-bind:style="{display:DisplayB}">
          <img class="img" :src="linkIc">
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "RegistryMain",
  data(){
    return{
      linkIc : require('../assets/link__icon.svg'),
      DisplayB : 'none',
      moreSigne : require('../assets/moreSign.svg')
    }
  },
  methods:{
    hoverIn(){
      this.DisplayB = 'block'
    },
    hoverLeave(){
      this.DisplayB = 'none'
    },
  },
}
</script>

<style scoped>
.container{
  flex: 1 1 auto;
}
img{
  width: 15px;
  height: 15px;
}
</style>